<div class="card" hoverHighlight [ngClass]="{'special-trip': trip.isSpecial}">
  <img class="trip-image" [src]="trip.imageUrl" alt="{{ trip.name }}">

  <div class="card-content">
    <h2>{{ trip.name }}</h2>

    <span *ngIf="trip.isSpecial" class="special-badge">
      ★ Спеціальна пропозиція
    </span>

    <p><strong>Місце:</strong> {{ trip.destination }}</p>
    <p><strong>Дати:</strong> {{ trip.startDate }} - {{ trip.endDate }}</p>
    <p><strong>Ціна:</strong> ${{ trip.price }}</p>

    <p>{{ trip.description | shorten:80 }}</p>

    <a [routerLink]="['/items', trip.id]" class="details-btn">
  Детальніше
</a>

  </div>
</div>
